# Java/Maven related
filim_server/target/
filim_server/*.log
filim_server/.classpath
filim_server/.project
filim_server/.settings/
filim_server/.mvn/
filim_server/mvnw
filim_server/mvnw.cmd

# Node/React related
filim_frontend/node_modules/
filim_frontend/build/
filim_frontend/.env
filim_frontend/.cache
